@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu&display=swap');
*{
    color: white;
    padding: 0;
    margin: 0;
  font-family: "Ubuntu", sans-serif;
  
}
body{
    background-color: hsl(226, 43%,10% );
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.hero{
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
    padding-top: 150px;
    padding-right: 150px;
}
ul{
    list-style: none;
}
.img-box{ 
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid white;
}
.pro{
text-align: center;
padding-top: 50px;
}
.Report{
    padding-right: 135px;
    padding-top: 10px;
    padding-left: 20px;
    color: hsl(236, 100%, 87%);
    
}
.name{
    padding-top: 20px;
    font-weight: 100;
    font-size: 45px;
     padding-right: 90px;
     padding-left: 25px;
    
}

.img-box img{
    width: 100%;
}
.total{
 background-color: hsl( 235, 46%, 20% );
  width: 250px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  grid-row-start: 1;
   grid-row-end: 4;
    /* height: 360px; */
}
.profil{
    padding-top: 25px;
    padding-left: 25px;
    width: 100%;
}
.photo{
   background-color: hsl(246 , 80% , 60%);
   width: 100%;
   border-radius: 15px;
   height: 365px;
}
#day ,#week, #month{
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 25px;
}
#day,#month{
    color: hsl(235, 54%, 61%);
}
.plays{
    background-color: hsl(195 , 74% , 62%);
    padding-top: 50px;
    width: 220px;
    border-radius: 20px;

}
#work{
    background-color: hsl( 235, 46%, 20% );
    height: 190px;
     width: 220px;
     border-radius: 15px;
}
i{
    color: hsl(235, 54%, 61%);
    padding-left: 80px
}
.pr{
    
    padding-top: 30px;
    padding-left: 25px;
    line-height: 1px;
}
h2{
    padding-top: 15px;
    padding-left: 20px;
    font-size:50px ;
    font-weight:100;
}
.works{
    padding-top: 10px;
    padding-left: 20px;
    color: hsl(235, 54%, 61%);
}
.workse{
    background-color: hsl(15 , 100% , 70%);
    padding-top: 50px;
    width: 220px;
    border-radius: 20px;
}
.studys{
    background-color: hsl(348 , 100% , 68%);
    padding-top: 50px;
    width: 220px;
    border-radius: 20px
}
.Exercise{
    background-color: hsl(145, 58% , 55%);
    padding-top: 50px;
    width: 220px;
    border-radius: 20px
}
.socials{
    background-color: hsl(264 , 64% , 52%);
    padding-top: 50px;
    width: 220px;
    border-radius: 20px
}
.selfs{
    background-color: hsl(43, 84% , 65%);
    padding-top: 50px;
    width: 220px;
    border-radius: 20px
}


