*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 100px;
    background-color: #ffeac0;
}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.nav .logo  h1{
    font-weight: 600;
    font-family: sans-serif;
    color: #000;
}
.nav .logo  b{
    color: #ff511c;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
      margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}
hr{
    opacity: 20%;
}
.nav ul li a:hover{
    color: #ff511c;
}
.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px ;
}
input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;}

.signup:hover{
    background-color: black;
}
.signin{
    background-color: transparent;
    border: none;

}
.signin:hover{
    color: #ff511c;
}
.signup{
    background-color: #ff511c;
    text-align: center;
    width: 100px;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.contint{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 120px;
    align-items: center;
    justify-content:space-between;
    width: 100%;
}
.contint .contint-left{
    display: block;
    width: 100%;
}
.contint  .contint-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.contint  .contint-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.contint  .contint-left .info h2 b{
    color: #ff511c;
}
.contint  .contint-left .info p{
    font-size: 23px;
    list-style: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}
.contint  .contint-left button{
    padding: 10px 23px;
    background-color: #000000;
    color:#ffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.contint  .contint-left button:hover{
    background-color: #ff511c;
}
.contint  .contint-right{
    display: block;
    width: 100%;
}
.contint  .contint-right img{
    width: 400px;
    height: auto;
    border-radius: 200px;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.category{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.category .list-items{
    width: 90%;
    position: relative;
    margin-top: 50px;
}
.category .list-items h3{
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
}
.category .list-items h3 b{
    color: #ff511c;
}
.category .list-items .card-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.category .card-list .card:hover{
    transform: scale(1.3);
}
.category .card-list .card{
    width: 200px;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color:#ffffff;
    position: relative;
    outline: 2px solid #faad96;
}
.category .card-list .title h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: sans-serif;
}
.category .card .descfood p{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: sans-serif;
}
.category .card .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category .card  .price  span .plus-icon{
    color: #ff511c;
    font-size: 20px;
    cursor: pointer;
}
