@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
     background-color: #222;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
.box{
  background:repeating-conic-gradient(from var(--x),red 0 10%,transparent 10deg 50%);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box h1{
  font-size: 100px;
  color: #fff;
}
@keyframes rotate{
  0%{

  }
  100%{

  }
  
}
