@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+JP:wght@100..900&family=Oxygen:wght@300;400;700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "open sans",
    sans-serif;
}
.g {
  padding: 40px;
  font-size: 40px;
  color: #fff;
}
header {
  position: fixed;
  top: 0;
  z-index: 3;
  display: none;
  width: 100%;
  height: 60px;
  background-color: #333;
}
#sidebartoggle{
  position: fixed;
  top:10px;
  right: 10px;
  display: none;
  z-index: 1000;
}
.heds {
  display: flex;
  color: #fff;
  margin-left: 10px;
}
.clo{
  font-size: 30px;
}
h3 {
  background-color: rgba(12, 12, 12, 0.6);
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 15px;
  padding: 15px;
}

.menuBtn #close{
 display: none;
}
.menuBtn {
    position: fixed;
    top: 100px;
    display: none;
    right: 20px;
    background: #000;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}

/*.menuBtn #open{
    display: none;
}
.menuBtn #close{
    display: inline-block;
}*/
.menu {
  height: 100vh;
  overflow: auto;
  background-color: #000;
  width: 280px;
  right:-280px;
  position: fixed;
  top: 0;
  transition:right 0.3s ease;
  z-index: 2;
  padding-top: 60px;
}
h1 b {
  color: rgb(8, 211, 25);
}
.total {
  background-image: url(pexels-sz-katarzyna-18648589-6535130.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  overflow: hidden;
}
div ul li {
  list-style: none;
}
div ul li a {
  display: block;
  color: #fff;
  margin: 20px 0;
  text-decoration: none;
  font-size: 18px;
}
.nav {
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 50px;
  color: rgb(8, 211, 25);
  font-size: 13px;
  letter-spacing: 3px;
}
.navi {
  display: flex;
  justify-content: space-between;
}
.profil {
  margin-left: 30px;
  margin-bottom: 70px;
}
p span.p {
  color: rgba(255, 255, 255, 0.5);
}
.grh {
  font-size: 15px;
  color: #333;
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}
div .con {
  font-size: 23px;
  color: #333;
  margin-left: 30px;
  margin-bottom: 50px;
}
div .con #icon:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  color: #fff;
}
.main-content{
  display: flex;
}
.progrhp {
  padding-top: 20px;
  /* margin-left: 55px; */
  width: 100%;
  align-items: center;
  color: #fff;
}
.ss {
  margin-top: 20px;
  /* margin-left: 100px; */
  margin-bottom: 10px;
  font-size: 40px;
  color: #a5a3a3;
}
.pp {
  font-size: 50px;
  width: 50%;
  font-weight: 700;
  /* margin-left: 60px; */
  margin-bottom: 70px;
  /* padding-left: 40px; */
}
@media only screen and (max-width:800px){
 .progrhp {
    min-width: 100%;
    font-size: 10px;
    margin-top: 50px;
    width:20px ;
    margin-right: 30px;
    margin-left: 0;
  }
  .brand{
    font-size: 30px;
    margin: 20px;
  }
  .ss{
    min-width: 100%;
    font-size:20px ;
    font-weight: bold;
  }
  .pp{
    min-width: 100%;
    width: 30px;
    font-size:35px ;
    margin-bottom: 50px;
  }
  .down{
    margin-bottom: 80px;
    margin-top: 30px;
  }
  .down a{
    height: 100px;
    width: 200px;
    gap: 40px;
  }
  .as{
    min-width: 100%;
    margin-top: 30px;
    width:250px;
    gap: 20px;
    margin-left:100px ;
    padding-right:30px ;
  }
  .lorem{
    min-width: 100px;
    font-size: 40px;
    padding: 40px;
    width: 750px;
    line-height: 1.5;
    padding-left: 55px;
  }
  .he{
    margin-top: 40px;
    min-width: 100%;
    font-size: 30px;
  }
  #noon{
    min-width: 100%;
    font-size: 60px;
  }
  
  .all{
    min-width: 100%;
    padding: 60px;
    flex-direction: column;
    text-align: center;
  }
  .topic{
    min-width: 100%;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    padding: 30px;
  }
  .wle{
  letter-spacing: 1px;
  line-height: 1.255;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
  font-size: 30px;
  padding: 15px 60px;
}
.black{
  text-align:center;
  height: 100%;
  justify-content: center;
  padding-top:60px;
  background-color: #000;
}
.blacimg{
  margin-top: 100px;
  padding: 0 60px;
  justify-content: center;
  display: grid;
  grid-template-columns:auto auto ;
  text-align: center;

}
.plamary{
   margin-top: 50px;
   height: 400px;
}
.white{
  padding: 0 60px;
}
.shutterbug{
  height: 350px;
}
.bve{
  font-weight: bold;
  margin-top: 20px;
  font-size: 45px;
  color: #000;
}
.woodcraft{
  height: 400px;
}
.guit{
  margin-top: 100px;
  height: 350px;
}
.beetl{
  height: 350px;
}
.grow{
  margin-top: 0px;
  height: 350px;
}
.hrr{
  margin:0 200px;
}
}
@media only screen and (min-width:1280px){
  .progrhp{
    width:700px ;
    margin-left: 150px;
  }
  .ss{
    font-size:25px ;
    font-weight: bold;
  }
  .pp{
    width: 100%;
    font-size:40;
    margin-bottom: 50px;
    line-height: 1.333;
  }
  .down{
    margin-bottom: 80px;
    margin-top: 30px;
  }
  .down a{
    height: 100px;
    width: 200px;
    gap: 0px;
  }
  .as{
    min-width: 100%;
    margin-top: 30px;
    width:250px;
    gap: 0px;
    margin-left:150px ;
    padding-right:40px ;
  }
  .we{
    font-size: 50px;
  }
  .lorem{
    margin-top: 30px;
    width: 950px;
    font-size: 15px;
    margin-bottom: 70px;
    margin-left: 180px;
    padding-left:60px ;
    display: flex;
    line-height:1.765;
  }
  .what{
    padding:0px;
  }
  .wedo{
    font-size: 20px;
  }
  .hr{
  padding: 0 60px;
  } 
  .all{
    padding-right: 40px;
    display: grid;
    grid-template-columns: auto auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  .nemo{
    display: flex;
    margin-bottom: 18px;
    width: 452px;
    padding-left: 67px;
  }
  #noon{
    display: block;
    font-size: 50px;
    width: 60px;
  }
  .noon{
    margin-right: x;
    display: flex;
    float: left;
  }
  .brand{
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 18px;
    margin-left: 80px;
  }
  .Service{
    margin: 20px;
    padding: 20px;
  }
  .topic{
    text-align: justify;
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
  .wle{
  letter-spacing: 1px;
  line-height: 1.255;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
  font-size: 55px;
  padding: 0 160px;
}
.black{
  text-align:center;
  height: 100%;
  justify-content: center;
  padding: 60px;
  background-color: #000;
}
.blacimg{
  padding: 30px;
  margin-top: 90px;
  justify-content: center;
  height: 300px;
  display: grid;
  grid-template-columns:auto auto ;
  text-align: center;

}
.bve{
  letter-spacing: 1px;
  line-height: 1.255;
  font-weight: bold;
  margin-top: 20px;
  padding: 0 200px;
  font-size: 55px;
  color: #000;
}
.plamary{
   margin-top: 120px;
   height: 440px;
}
.shutterbug{
  height: 400px;
}
.woodcraft{
  height: 370px;
}
.guit{
  margin-top:160px ;
  height: 400px;
}
.beetl{
  height: 400px;
}
.grow{
height: 400px;
}
}
.hrr{
  margin:0 600px;
}
@media only screen and (max-width:430px){
  body{
    text-align: center;
    justify-content: center;
  }
  .g{
    margin-right: 220px;
  }
  .progrhp{
    min-width: 100%;
    text-align: center;
    line-height: 50px;
    justify-content: center;
  }
  .home-social{
    display: none;
  }
  .brand{
    font-size: 30px;
    margin: 20px;
  }
  .ss{
    min-width: 100%;
    font-size:20px ;
    font-weight: bold;
  }
  .pp{
    min-width: 100%;
    font-size:30px ;
    margin-bottom: 10px;
  }
  .down{
    flex-direction: column;
    gap: 10px;
  }
  .down a{
    height: 45px;
    width: 200px;
  }
  .as{
    min-width: 100%;
    margin-top: px;
    width:250px;
    gap: 0px;
    margin-left:100px ;
    padding-right:0px ;
  }
  .we{
    font-size: 20px;
  }
  .lorem{
    min-width: 100px;
    font-size: 10px;
    padding: px;
    width: 420px;
    line-height: 1.5;
    padding-left: px;
  }
  .he{
    margin-top: 40px;
    min-width: 100%;
    font-size: 20px;
  }
  #noon{
    min-width: 100%;
    font-size: 60px;
  }
  
  .all{
    min-width: 100%;
    padding: 60px;
    flex-direction: column;
    text-align: center;
  }
  .topic{
    min-width: 100%;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    padding: 30px;
  }
  .wle{
  letter-spacing: 1px;
  line-height: 1.255;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
  font-size: 30px;
  padding: 15px 60px;
}
.black{
  text-align:center;
  display: grid;
  grid-template-columns: auto;
  height: 100%;
  justify-content: center;
  background-color: #000;
}
.blacimg{
  justify-content: center;
  display: grid;
  grid-template-columns:auto ;
  text-align: center;

}
.plamary{
   margin-top: 50px;
   height: 400px;
}
.white{
  padding: 0 60px;
}
.shutterbug{
  height: 350px;
}
.bve{
  font-weight: bold;
  margin-top: 20px;
  font-size: 45px;
  color: #000;
}
.woodcraft{
  height: 400px;
}
.guit{
  margin-top: 100px;
  height: 350px;
}
.beetl{
  height: 350px;
}
.grow{
  margin-top: 0px;
  height: 350px;
}
.hrr{
  margin:0 200px;
}
}
.home-social {
    width: 20px;
    margin-top: 90px;
    padding: 60px;
    float: right;
    color: #fff;
    font-size: 20px;
    margin-right: 30px;
}
ul{
  margin-top: 30px;
  height: 100%;
}
ul li{
  list-style: none;
  margin-bottom: 15px;
}
.home-social li a{
  display: block;
  text-decoration: none;
}
.home-social a{
  color: #fff;
  transition: all 0.5s ease-in-out;
  border: 2px solid #ffff;
  border-radius: 50px;
  height: 40px;
  position: 15px;
  justify-content: center;
  text-align: center;
  width: 40px;
}
.home-social i{
  font-size:20px;
  display: inline-block;
  line-height: calc(33px - 4px);
  
}
.home-social span{
  color: #39b54a;
  right: 4.5rem;
  font-size: 15px;
  transform: scale(0);
  transform-origin: 100% 50%;
}

#on{
  text-align: center;
  margin-top: 5px;
}
.down{
  display: flex;
   gap: 20px;
}
.down a{
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.as{
  border: 2px solid white;
  text-align: center;
   width: 200px;
   font-size: 15px;
   padding: 10px;
   letter-spacing: 2px;
   font-family: sans-serif;
   /* margin-bottom: 100px; */
}
.as:hover{
  background-color:#fff;
  color: #000;
  transition: 0.5s ease;
}
.about{
  flex-wrap: wrap;
  background-color:#39b54a  ;
  height: 100%;
  padding: 30px;
  overflow: hidden;
  justify-content: center;
  text-align: center;
}
.he{
  padding-top: 100px;
  font-size: 20px;
  font-weight: bold;
}
.we{
  
  position: relative;
  text-overflow: ellipsis;
  color: #fff;
  white-space: nowrap;
  margin-bottom: 20px;
}

.lorem{
  font-size: 25px;
  padding-right: 50px;
  font-family: "lora-regular", serif;
  text-align: center;
  margin-top: 20;
  margin-bottom: 30px;
}
.awards-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.award-item {
    flex: 1;
    min-width: 250px; 
}

.award-number {
    font-size: 84px;
    font-family: "montserrat-bold", sans-serif;
    font-weight: bold;
    position: relative;
    text-overflow: ellipsis;
    color: #fff;
    white-space: nowrap;
    margin-bottom: 10px;
}

.award-title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.Service{
  background-color: #fff;
  text-align: center;
  padding: 132px;
}
.what{
  min-width:400px ;
}
.topic{
  line-height: 1.333;
}
.wedo{
  font-weight: bold;
  color: #39b54a;
  letter-spacing: 2px;
}
.webve{
  font-weight: bold;
  margin-top: 20px;
  font-size: 45px;
  padding:0 60px;
}
#noon{
    
    color:#39b54a ;
  }
@media(max-width:800px){
  .webve{
    min-width: 100%;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .Service{
    padding: 90px 45px;
  }
  .we{
    font-size: 70px;
  }
}
.brand{
  font-weight: bold;
}
.nemo{
   font-size: 20px;
   font-family: "lora-regular", serif;
   color: rgba(51, 51, 51,0.5);
}
.wle{
  letter-spacing: 1px;
  line-height: 1.255;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
}

.wedo2{
  margin-top: 40px;
  font-weight: bold;
  color:#39b54a ;
  letter-spacing: 2px;
  font-size: 20px;
}
.work{
  height:100%;
  background-color: #fff;
  justify-content: center;
}
.black{
  text-align:center;
  height: 100vh;
  justify-content: center;
  background-color: #000;
}
.blacimg{
  margin-top: 100px;
  justify-content: center;
  display: grid;
  grid-template-columns:auto auto ;
  text-align: center;

}
.white{
  text-align:center;
  justify-content: center;
  display: grid;
  grid-template-columns:auto auto;
}
.grow{
  margin-bottom:160px ;
}
.hrr{
  color: #fff;
}
.clinet{
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 13.2rem;
  padding-bottom: 16.8rem;
  position: relative;
  color: #757575;
  background-color: #e6e6e6;
}
.Contact .overlay{
 background-color: #000;
 position: absolute;
 opacity: 10%;
 overflow: hidden;
}

.Contact{
  background-image: url(contact-bg.jpg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
h5{
  font-weight: bold;
  color: #39b54a;
  letter-spacing: 2px;
  font-size: 20px;
}
.bve{
  font-weight: bold;
  margin-top: 20px;
}
#icon:hover{
  color: #39b54a;
  transform: translateY();
}
.footer{
  background-image:url(logo-footer.png.webp) ;
  display: block;
  width: 85px;
  margin-bottom: 30px;
  height: 28px;
  background-size: 85px 28px;
}